<script is:inline>
	let isSunMoving = false;
	let isSunAnimating = false;

	/**
	 * @param {HTMLElement} el
	 * @param {MouseEvent} e
	 */
	function moveSun(el, e) {
		if (isSunAnimating) return;

		const { width, height, x, y } = el.getBoundingClientRect();
		const { clientX, clientY } = e;

		const xPercent = (clientX - x) / width - 0.5;
		const yPercent = (clientY - y) / height - 0.5;
		const absX = Math.abs(xPercent);
		const absY = Math.abs(yPercent);

		const isMouseClose = absX < 2 && absY < 2;

		if (!isSunMoving && !isMouseClose) return;

		const newX = absX < 1 ? xPercent * 10 : (Math.sign(xPercent) * 2 - xPercent) * 10;
		const newY = absY < 1 ? yPercent * 10 : (Math.sign(yPercent) * 2 - yPercent) * 10;

		if (!isSunMoving) {
			isSunMoving = true;
			moveSunTo(el, newX, newY);
			return;
		}

		if (!isMouseClose) {
			isSunMoving = false;
			moveSunTo(el, 0, 0);
			return;
		}

		el.style.setProperty('--x', newX + '%');
		el.style.setProperty('--y', newY + '%');
	}

	/**
	 * @param {HTMLElement} el
	 * @param {number} x
	 * @param {number} y
	 */
	function moveSunTo(el, x, y) {
		isSunAnimating = true;
		el.style.setProperty('transition', 'translate 0.1s linear');
		el.style.setProperty('--x', x + '%');
		el.style.setProperty('--y', y + '%');

		setTimeout(() => {
			isSunAnimating = false;
			el.style.setProperty('transition', '');
		}, 100);
	}
</script>

<button class="sun-wrapper" @mousemove.window="moveSun($el, $event)" @click="dark = !dark">
	<slot />
</button>

<style>
	.sun-wrapper {
		--x: 0;
		--y: 0;

		translate: var(--x) var(--y);

		--size: max(100px, 13vw);
		height: var(--size);
		width: var(--size);
		border-radius: 50%;
		background: var(--sun-color);
		background-size: cover;
		border: none;

		background-position: 100% 0;

		transition: scale 150ms var(--ease-out-1), border-width 100ms var(--ease-out-1);
		border-color: var(--sun-stroke);
		border-style: solid;
		border-width: 0px;
	}

	.sun-wrapper:hover {
		scale: 1.05;
		border-width: 0.5rem;
	}

	.sun-wrapper:focus {
		outline: 4px solid var(--sun-stroke);
	}
</style>
